/* You can add global styles to this file, and also import other style files */

:root {
    --headerHeight: 15rem
}

html,
body {
    overflow: auto;
    scrollbar-color: #f8ed31 #595e62;
    scrollbar-width: thin;
    margin: 0;
    height: 100vh;
    scroll-behavior: smooth;
}

.container-content {
    margin: 0 auto;
    max-width: 992px;
    position: relative;
    padding-bottom: 1rem;
}

.ngneat-dialog-content{

    min-height: 10px !important;
}